.Pagination {
  display: flex;
  margin: 10px 0px;
  font-family: "Cormorant", serif;
}
.Pagination span {
  margin-right: 15px;
  cursor: pointer;
}
.active{
  color: red;
}
.Pagination li {
  list-style: disc;
  margin: 0px 10px;
}
