/* style.module.css */
.ProductCard {
  width: 360px;
  margin: 0px auto;
}
.firstSection,
.secondSection,
.thirdSection,
.fourthSection {
  margin: 25px 0px;
  /* border-bottom: ; */
}

.colorProduct {
  width: 30px;
  height: 20px;
}
.firstSection p,
.secondSection p,
.thirdSection p,
.fourthSection p {
  font-size: 18px;
}

.secondSection::after,
.thirdSection::after,
.fourthSection::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(
    99.4deg,
    #fff0bf -10.68%,
    #efc990 18.14%,
    #fdd292 43.87%,
    rgba(240, 199, 73, 0.42) 81.17%,
    #d4af37 100%
  );
  margin-top: 10px;
}
.firstSection,
.secondSection,
.thirdSection,
.fourthSection h2 {
  font-family: Century;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: -0.011em;
  color: #666560;
  margin: 15px auto;
}
.BoxElements {
  margin: 10px auto;
  font-size: 15px;
  color: black;
}
.tags span {
  width: 169px;
  height: 34px;
  border: 1px solid #c2c2c2;
  box-shadow: 0px 0px 3px 0px #c2c2c2;
  color: #c2c2c2;
  background-color: inherit;
  border-radius: 10px;
  margin: 5px 5px;
  text-align: center;
  display: inline-block;
}
.tags span:hover {
  background-color: #666560;
  color: #c2c2c2;
}
.boxes {
  margin: 10px 0px;
}
.thirdSection span {
  margin-right: 5px;
}
.thirdSection p {
  text-decoration: underline;
}
.fourthSection p {
  margin: 10px 0px;
}
.ProductsPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 380px;
  margin: 0px auto;
}
.paginatedContainer {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
}
.paginatedProduct {
  width: 140px;
  margin: 10px auto;
}

.SingleProduct {
  grid-column: span 2;
}

.FourProductsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.ImagesSection {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ImagesSection img {
  max-height: 150px;
  width: auto;
  object-fit: cover;
  margin: auto;
}
.miniCarousel {
  display: flex;
  align-items: center;
  overflow: auto;
  width: 300px;
  margin: auto;
}

.miniCarousel img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  margin-left: 5px;
}
.NextPrevBtn {
  /* display: flex;
  justify-content: space-between; */
  position: absolute;
  width: 355px;
}
.next,
.prev {
  position: absolute;
  z-index: 1;
  font-size: 25px;
  top: 50%;
  transform: translate(0%, -50%);
}
.next {
  right: 0;
}

.prev {
  left: 0;
}
.miniCarousel img.active {
  border: 2px solid black;
}
.ImgContainerOne {
  width: 300px;
  margin: 10px auto;
  height: 400px;
}
.ImgContainerOne img {
  width: 250px;
  margin: 5px auto;
  height: 100%;
}
.addCartBtn {
  background-color: pink;
}
.bgWhite {
  background-color: white;
}
.addCartBtn {
  width: 246px;
  height: 41.1px;
  border: 1.21px solid #c2c2c2;
  color: black;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
  width: 180px;
  border: 1.21px solid #c2c2c2;
  color: black;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
  font-family: Century;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.011em;
}
.addCartBtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}
.miniCarousel button {
  background: none;
  border: none;
  cursor: pointer;
}
.paginationProductsPage {
  display: flex;
  justify-content: center;
}
.addContainer {
  position: fixed;
  z-index: 1;
  top: 70%;
  left: 85%;
}
