.firstSideReg,
.registerPage,
.ProfileSetup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1186px;
  background-color: #fff6f6;
}
.firstSideReg form {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  width: 360px;
  height: 100%;
}
.firstSideReg form .formGroup {
  margin: 15px auto;
  width: 300px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.firstSideReg form label {
  padding-left: 17px;
}
.firstSideReg form input {
  border: 1px solid #a9a9a9;
  padding: 5px;
  border-radius: 5px;
  margin: 5px auto;
  height: 40px;
  background-color: inherit;
  width: 300px;
}

.registerPage button {
  background-color: inherit;
  color: black;
  border: 1px solid #a9a9a9;
  margin: 5px 15px;
}

.registerPage button:hover {
  background-color: black;
  color: white;
}

.registerPage p span {
  margin-left: 5px;
  color: #8a8328;
  text-decoration: underline;
}
.dispNone {
  display: none;
}

.ProfileSetup form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.uploadImg {
  width: 82.47px;
  height: 13.04px;
  background: #e2e2e2;
  color: black;
  font-family: Century;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}
.ProfileSetup form label {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.logoUp {
  position: absolute;
  top: 10%;
}
.ProfileSetup form input,
.ProfileSetup form textarea {
  width: 300px;
  height: 40px;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  padding: 5px;
  margin: 15px 5px;
}
.profileButtons {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}
.profileButtons p {
  text-decoration: underline;
  margin-left: 5px;
}
.btnDone,.formGroup .submitButton {
  width: 220px;
  height: 40px;
  border-radius: 13px;
  background: #232221;
  color: white;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
.logoRegisterComp{
  margin: 20px auto;
}
.ProfileSetup form textarea {
  height: 80px;
}
.ProfileSetup form input textarea {
  width: 50%;
}
