.firstSideReg,
.registerPage,
.ProfileSetup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #fff6f6;
}
.firstSideReg form {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
}
.firstSideReg form input {
  border: 1px solid #a9a9a9;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 15px;
  background-color: inherit;
  width: 100%;
}

.registerPage button {
  background-color: inherit;
  color: black;
  border: 1px solid #a9a9a9;
  margin: 5px 15px;
}

.registerPage button:hover {
  background-color: black;
  color: white;
}

.registerPage p span {
  margin-left: 5px;
  color: #8a8328;
  text-decoration: underline;
}
.dispNone {
  display: none;
}


