.colorPaletteContainer {
  display: flex;
  flex-wrap: wrap;
  width: 171px;
}
.firstSection {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 360px;
}
.borderSquare{
  border: 1px solid gold;
}
.sortFilter span {
  margin-right: 10px;
}
.colorPaletteContainer .colorSquare {
  width: 20.14px;
  height: 20.14px;
  margin: 5px;
  border: 1px solid #000;
  cursor: pointer;
}
.closeBtn {
  text-decoration: underline;
}
.searchBar {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.searchBar input {
  width: 300px;
  border: 1px solid #c2c2c2;
  padding: 5px 10px;
  border-radius: 10px;
}
.SearchInputs {
  position: relative;
}
.SearchInputs img {
  position: absolute;
  top: 5px;
  left: 88%;
}
.sortFilter select {
  border: 1px solid #c2c2c2;
  border-radius: 7px;
  padding: 2px 2px;
}

.FilterType p {
  margin: 10px 5px;
  position: relative;
  font-family: Cormorant Infant;
  font-size: 25px;
}
.FilterType ul li {
  margin: 10px 5px;
  font-family: Cormorant Garamond;
  font-size: 20px;
  padding: 0px 5px;
  cursor: pointer;
}
.FilterType ul li input {
  margin-right: 10px;
  cursor: pointer;
}
.FilterType p::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 150px;
  border-radius: 0.85px;
  height: 1.5px; 
  background: linear-gradient(
    99.4deg,
    #fff0bf -10.68%,
    #efc990 18.14%,
    #fdd292 43.87%,
    rgba(240, 199, 73, 0.42) 81.17%,
    #d4af37 100%
  );
}
