.text {
  position: absolute;
  top: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.text h3 {
  font-size: 23px;
  font-family: Century;
  font-weight: 400;
}
.text p {
  font-size: 10px;
  margin:15px 0px ;
}
