.goldenBtn button {
    width: 100%;
    background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%),
    linear-gradient(0deg, #C2C2C2, #C2C2C2);
    height: 40px;
    border-radius: 10px;    

}
