.designers_page {
  width: 380px;
  margin: 0px auto;
  background: linear-gradient(
    180deg,
    #ffdbdb 0.05%,
    #fdfdfd 93.1%,
    #fdfdfd 110.6%,
    #8a8328 152.03%
  );
}
.LocalDesigner {
  width: 300px;
  margin: 0px auto;
}
.LocalDesigner:hover {
  cursor: pointer;
  text-decoration: underline;
}
.brand {
  width: 300px;
  margin: 10px auto;
  font-family: Cormorant Garamond;
  font-weight: 500;
  size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  color: black;
}
.brand ul li {
  list-style-type: disc;
  width: 250px;
  margin: 10px auto;
  line-height: 24px;
}

.paginatedContainer {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}
.paginatedProduct {
  width: 140px;
  margin: 10px auto;
}
.paginatedContainer nav {
  margin: 5px auto;
}
.textTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
