.designers_page{
  width: 380px;
  margin: 0px auto;
}
.LocalDesigner {
  width: 300px;
  margin: 0px auto;
}
.LocalDesigner:hover{
  cursor: pointer;
  text-decoration: underline;
}


.textTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
