.Form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 15px 0px;
  color: black;
  font-family: Cormorant Infant;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.011em;
  text-align: left;
}
.checkbox {
  width: 15px !important;
  height: 15px !important;
}
.Form input {
  border: 1px solid #c2c2c2;
  background-color: #fff6f6;
  box-shadow: 0px 0px 1.248266339302063px 0px #c2c2c2;
  color: black;
  margin: 10px 5px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
}
