.CustomerBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid yellow;
  width: 300px;
  margin: 25px auto;
  padding: 15px 5px;
}
.Amount {
  display: flex;
}
.Amount span {
  margin-left: 10px;
}
