.TopSection {
  position: relative;
  width: 100%;
  height: 650px;
}

.bgImage {
  width: 360px;
  height: 350px;
  margin-left: auto;
  padding-top: 15px;
}
.InfoCircle,.midCircleI {
  background: linear-gradient(#ffdbdb, #fdfdfd, #fdfdfd);
}

.bottomCircleI {
  background: white;
  color: black;
}
.InfoCircle,
.purple,
.orange,
.midCircleI,
.bottomCircleI,
.dark {
  position: absolute;
  top: 34%;
  left: 5px;
  border-radius: 50%;
  border: 1px solid black;
  width: 280px;
  height: 260px;
  text-align: center;
  cursor: pointer;
}
.sparkle {
  z-index: 1;
  position: absolute;
  top: 44%;
  left: 5%;
}
.orange {
  background: orange;
}
.purple {
  background: pink;
  color: white;
}
.dark {
  background: black;
  color: white;
}

.imgText {
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 33px;
}

.vector {
  position: absolute;
  bottom: 0;
}
.midSection {
  width: 360px;
  height: 350px;
  margin-right: auto;
  margin-left: 0;
  padding-top: 15px;
}

.midSectionInfoCircle .midSection img {
  border-radius: 50px;
}
.bottomInfoCircle {
  background-color: darkblue;
}
