.HomePage {
    
}

.TopSection{
position: relative;
width: 100%;
height: 650px;
}

.bgImage {
    width: 425px;
    height: 350px;
    margin-left: auto;
    padding-top: 15px;
}   

.InfoCircle {
    position: absolute;
    top: 34%;
    left: 5px;
}

.imgText {
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 33px;
}

.vector {
    position: absolute;
    bottom: 0;
}